{
    "presets": ["es2015-loose"],
    "plugins": [
        ["transform-class-properties", {"loose": true}],
        ["transform-runtime", {"polyfill": false}],
        ["transform-object-rest-spread", {"loose": true}]
    ],
    "sourceMaps": true
}
